<!DOCTYPE html>
<html class="no-js" lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>{{ title }}</title>
  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{asset 'favicon.ico'}}">
  <link rel="apple-touch-icon" href="{{asset 'apple-touch-icon.png'}}">
  <!-- Place favicon.ico in the root directory -->
  <!-- google fonts -->
  <link href="http://fonts.useso.com/css?family=Lato:400,900,700,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.useso.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
  <!-- all css here -->
  <!-- style css -->
  <link rel="stylesheet" href="{{asset 'css/bootstrap.min.css'}}">
  <link rel="stylesheet" href="{{asset 'css/animate.css'}}">
  <link rel="stylesheet" href="{{asset 'css/materialdesignicons.min.css'}}">
  <link rel="stylesheet" href="{{asset 'css/jquery.simpleLens.css'}}">
  <link rel="stylesheet" href="{{asset 'css/jquery-ui.min.css'}}">
  <link rel="stylesheet" href="{{asset 'css/meanmenu.min.css'}}">
  <link rel="stylesheet" href="{{asset 'css/nivo-slider.css'}}">
  <link rel="stylesheet" href="{{asset 'css/owl.carousel.css'}}">
  <link rel="stylesheet" href="{{asset 'css/style.css'}}">
  <link rel="stylesheet" href="{{asset 'css/responsive.css'}}">
  <!-- modernizr js -->
  <script src="{{asset 'js/modernizr-2.8.3.min.js'}}"></script>
  {{{block 'styles'}}}
</head>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {{{ body }}}
  <!-- all js here -->
  <script src="{{asset 'js/jquery.min.js'}}"></script>
  <script src="{{asset 'js/bootstrap.min.js'}}"></script>
  <script src="{{asset 'js/owl.carousel.min.js'}}"></script>
  <script src="{{asset 'js/jquery.meanmenu.js'}}"></script>
  <script src="{{asset 'js/countdown.js'}}"></script>
  <script src="{{asset 'js/jquery.nivo.slider.pack.js'}}"></script>
  <script src="{{asset 'js/jquery.simpleLens.min.js'}}"></script>
  <script src="{{asset 'js/jquery-ui.min.js'}}"></script>
  <script src="{{asset 'js/load-more.js'}}"></script>
  <script src="{{asset 'js/plugins.js'}}"></script>
  <script src="{{asset 'js/main.js'}}"></script>
  {{{block 'scripts'}}}
</body>

</html>
